html {
	padding-top: 70px;
}
.anchor { 
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.top-content {
	background-color: white;
}

.mid-nav {
	background-color: #fffaea;
}

.mid-nav a.nav-link {
	padding: 8px 50px;
	font-family: 'Oswald', serif;
	font-weight: 600;
	font-size: 24px;
	color: #000;
}

.mid-nav a.nav-link:hover,
.mid-nav a.nav-link:focus,
.mid-nav a.nav-link:active {
	color: #89b6ff;
}
.mid-nav a.nav-link:focus,
.mid-nav a.nav-link:active {
	text-decoration: underline;
}

.bottom-content {
	background-color: #89b6ff;
	height: 500px;
}

.top-text {
	position: relative;
	width: 50%;
	height: 25%;
	top: 62%;
	left: 25%;
}

#occ {
	fill: #89b6ff;
}

#glasses {
	position: relative;
	top: 20%;
	left: 10%;
}

.top-text {
	font-family: 'Lobster', cursive;
	dominant-baseline: hanging;
	text-anchor: middle;
}

.box {
	height: 400px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.box-title {
	font-family: 'Lobster', cursive;
	padding: 0.5em 0em 0.5em 0.5em;
}

.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #000;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #89b6ff;
}
.navbar .navbar-text {
  color: #000000;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #ffffff;
  border-color: #000000;
  border: none;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #fffaea;
  background-color: #89b6ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #000;
  background-color: #fffaea;
}
.navbar .navbar-toggle {
  border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #000000;
}
.navbar .navbar-link {
  color: #000000;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #000000;
}